<section class="pt-125 py-65 bg-md-f8f8f8 min-h-100vh">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="profile-steps-leftsidebar pl-0">
                    <ul>
                        <li class=" w-100">
                            <a href="javascript:void(0)" routerLink="/mentor/payment-history" class="pl-2 d-block">
                                <span class="pills-text d-block">Payment History</span>
                            </a>
                        </li>
                        <li class="-100">
                            <a href="javascript:void(0)" routerLink="/mentor/billing-methods" class="pl-2 d-block">
                                <span class="pills-text d-block">Billing Methods</span>
                            </a>
                        </li>
                        <li class="current-active w-100">
                            <a href="javascript:void(0)" routerLink="/mentor/bank-accounts" class="pl-2 d-block">
                                <span class="pills-text d-block">Bank Accounts</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-xl-9">
                <div class="profile-steps-rightsidebar pl-0">
                    <div class="profile-steps-rightsidebar-column">
                        <div class="profile-steps-rightsidebar-column-header">
                            <div class="row align-items-center">
                                <div class="col-12 mb-3 mb-xl-0">
                                    <p class="basic-title mb-0">Bank Account Details</p>
                                </div>
                            </div>
                        </div>
                        <div class="profile-steps-rightsidebar-column-body">
                            <div class="row">
                                <div class="col-12">
                                    <label class="profile-label-text">Bank Accounts</label>
                                    <div class="credit-card-wrapper">

                                        <ng-container *ngIf="bankDetailsArray.length > 0; else noCardsAvailable">

                                            <div *ngFor="let bankArray of bankDetailsArray; let i = index" class="each-credit-card-item">
                                                <div class="row mx-0 align-items-center">
                                                    <div class="px-1 col-12 each-credit-card-logo mb-3">
                                                        <div class="row">
                                                            <!--div class="col-6 text-left">{{bankArray?.card_type}}</div-->
                                                            <div class="col-12 text-right">
                                                                <ng-container *ngIf="!bankArray.default">
                                                                    <p class="deafult-card--appearence">
                                                                        <a href="javascript:void(0)" class="default_card" (click)="removeBankAccount(bankArray?._id)">Remove</a>
                                                                    </p>
                                                                </ng-container>
                                                            </div>
                                                        </div>

                                                        <!--img src="./img/logos_mastercard.svg" class="img-fluid" alt="masatercard-logo"-->
                                                    </div>
                                                    <div class="px-1 col-12 each-credit-number">
                                                        <p class="each-credit-card-label">Account Number</p>
                                                        <p class="profile-label-text font--16 mb-0"> {{bankArray?.account_number}}</p>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-12 mb-2 mb-sm-0">
                                                        <p class="each-credit-card-label">Routing Number</p>
                                                        <p class="profile-label-text font-14 mb-0">{{bankArray?.routing_number}}</p>
                                                    </div>

                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-12">
                                                        <p class="each-credit-card-label">Name</p>
                                                        <p class="profile-label-text font-14 mb-0">{{bankArray?.account_holder_name}}</p>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-12">
                                                        <p class="each-credit-card-label">Bank Name</p>
                                                        <p class="profile-label-text font-14 mb-0">{{bankArray?.bank_name}}</p>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-6 text-left mt-3">
                                                        <ng-container *ngIf="bankArray.default">

                                                            <p class="deafult-card--appearence">Default</p>

                                                        </ng-container>
                                                    </div>
                                                    <div class="col-6 text-right mt-3">
                                                        <ng-container *ngIf="!bankArray.default">
                                                            <p class="deafult-card--appearence">
                                                                <a href="javascript:void(0)" class="default_card" (click)="defaultBankAccount(bankArray?._id)">Make as default</a>
                                                            </p>
                                                        </ng-container>
                                                    </div>

                                                </div>

                                            </div>
                                        </ng-container>
                                        <ng-template #noCardsAvailable>
                                            <div class="no-slots-available">
                                                <span>No Accounts Found.</span>
                                            </div>
                                        </ng-template>

                                    </div>
                                    <div class="my-4 my-xl-5">
                                        <button role="button" (click)="showPaymentMethodPopup()" type="button" class="add--button py-0 color--primary  px-0 text-uppercase">
                                                ADD YOUR BANK ACCOUNT
                                            </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<app-add-bank-account-popup (showPaymentMethodPopup)="showPaymentMethodPopup()" (hidePaymentMethodPopup)="hidePaymentMethodPopup($event)" [isOpen]="isPaymentMethodModalOpen"></app-add-bank-account-popup>

<ngx-ui-loader></ngx-ui-loader>