<ng-container *ngIf="errors && errors['required']">{{errorPrefix}} is required<br /></ng-container>

<ng-container *ngIf="errors && errors['email']">Enter a valid email.<br /></ng-container>
<ng-container *ngIf="errors && errors['minlength']">Minimum length is {{minLength}}.<br /></ng-container>
<ng-container *ngIf="errors && errors['maxlength']">Maximum length is {{maxLength}}.<br /></ng-container>
<ng-container *ngIf="errors && errors['pattern']">{{patternError}}<br /></ng-container>
<ng-container *ngIf="errors && errors['NoPassswordMatch']">Password and confirm password do not match.<br /></ng-container>
<ng-container *ngIf="errors && errors['emailNotExist']">Email do not exist in our system.<br /></ng-container>
<ng-container *ngIf="errors && errors['min']">Minimum value is {{min}}.<br /></ng-container>
<ng-container *ngIf="errors && errors['max']">Maximum value is {{max}}.<br /></ng-container>

