<section class="pt-125 py-65 bg-md-f8f8f8">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-10 mx-auto">
                <div class="row">
                    <div class="col-12">



                    </div>
                </div>
                <div class="parents-mentors-tab small-dashboard-tab responsivetablet--bar mentor-responsive-tabletbar">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="mt-4">
                                <div class="profile-steps-rightsidebar pl-0">
                                    <div class="profile-steps-rightsidebar-column">
                                        <div class="profile-steps-rightsidebar-column-header bgcolor--F9F9F9">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-xl-5 mb-3 mb-xl-0">
                                                    <p class="basic-title mb-0 color-heading">Transaction History</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="profile-steps-rightsidebar-column-body p-0">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="table-responsive tabe-mentordex-list">
                                                        <table class="table mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Date</th>
                                                                    <th scope="col">Type</th>
                                                                    <th scope="col">Amount</th>
                                                                    <th scope="col">Ref ID</th>
                                                                    <th scope="col">Download Invoice</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <ng-container *ngIf="getTransactionDetails?.length > 0; else noTransactions">
                                                                    <tr *ngFor="let transaction of getTransactionDetails | paginate: { id: 'listing', itemsPerPage: pagination.size, currentPage: pagination.pageNumber, totalItems: totalRecords }">
                                                                        <td>{{transaction?.created_at | date : 'mediumDate'}}</td>
                                                                        <td class="primary-color job-detail-td">{{transaction?.transaction_type}}</td>
                                                                        <td>${{transaction?.price}}</td>
                                                                        <td>{{transaction?.invoice_number}}</td>
                                                                        <td>
                                                                            <a href="{{transaction?.invoice_url}}" target="_blank" class="download-pdf--btn primary-color">
                                                                                <svg width="16" height="18" viewBox="0 0 16 18" fill="none">
                                                                            <path d="M15 15.1738H1C0.447715 15.1738 0 15.6215 0 16.1738C0 16.7261 0.447715 17.1738 1 17.1738H15C15.5523 17.1738 16 16.7261 16 16.1738C16 15.6215 15.5523 15.1738 15 15.1738Z" fill="#3BB3BD"></path>
                                                                            <path d="M0 14.1738L0 16.1738C0 16.7261 0.447715 17.1738 1 17.1738C1.55228 17.1738 2 16.7261 2 16.1738V14.1738C2 13.6215 1.55228 13.1738 1 13.1738C0.447715 13.1738 0 13.6215 0 14.1738Z" fill="#3BB3BD"></path>
                                                                            <path d="M14 14.1738V16.1738C14 16.7261 14.4477 17.1738 15 17.1738C15.5523 17.1738 16 16.7261 16 16.1738V14.1738C16 13.6215 15.5523 13.1738 15 13.1738C14.4477 13.1738 14 13.6215 14 14.1738Z" fill="#3BB3BD"></path>
                                                                            <path d="M7.99995 12.1738C7.79263 12.1754 7.58995 12.1125 7.41995 11.9938L3.41995 9.17383C3.20436 9.0209 3.05809 8.78883 3.01312 8.52836C2.96815 8.26789 3.02813 8.0002 3.17995 7.78383C3.25574 7.67568 3.35219 7.58361 3.46376 7.51294C3.57532 7.44227 3.69977 7.39439 3.82994 7.37208C3.9601 7.34976 4.09339 7.35345 4.22212 7.38293C4.35085 7.41241 4.47247 7.4671 4.57995 7.54383L7.99995 9.93383L11.4 7.37383C11.6121 7.2147 11.8788 7.14638 12.1414 7.18388C12.4039 7.22139 12.6408 7.36166 12.7999 7.57383C12.9591 7.786 13.0274 8.0527 12.9899 8.31525C12.9524 8.5778 12.8121 8.8147 12.6 8.97383L8.59995 11.9738C8.42686 12.1037 8.21632 12.1738 7.99995 12.1738Z" fill="#3BB3BD"></path>
                                                                            <path d="M8 10.1738C7.73478 10.1738 7.48043 10.0685 7.29289 9.88093C7.10536 9.6934 7 9.43904 7 9.17383V1.17383C7 0.908612 7.10536 0.654258 7.29289 0.466721C7.48043 0.279185 7.73478 0.173828 8 0.173828C8.26522 0.173828 8.51957 0.279185 8.70711 0.466721C8.89464 0.654258 9 0.908612 9 1.17383V9.17383C9 9.43904 8.89464 9.6934 8.70711 9.88093C8.51957 10.0685 8.26522 10.1738 8 10.1738Z" fill="#3BB3BD"></path>
                                                                        </svg> Download.pdf
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </ng-container>
                                                                <ng-template #noTransactions>
                                                                    <tr>
                                                                        <td>
                                                                            No Recent Transactions Found.
                                                                        </td>
                                                                    </tr>
                                                                </ng-template>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div *ngIf="totalRecords > 10" class="row">
                        <div class="col-xl-12">
                            <div class="mt-4">
                                <pagination-template class="mentorcards-pagination-footer" #p="paginationApi" id="listing" maxSize="9" autoHide="true" (pageChange)="nextpage($event)">
                                    <ul>
                                        <li class="previous"><a [class.disabled]="p.isFirstPage()" href="javascript:void(0)" (click)="p.previous()"><i class="fa fa-angle-left mr-2"></i>Previous</a></li>



                                        <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
                                            <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</a>

                                            <a *ngIf="p.getCurrent() === page.value">{{ page.label }}</a>

                                        </li>


                                        <li class="forward">
                                            <a [class.disabled]="p.isLastPage()" href="javascript:void(0)" (click)="p.next()">Next<i class="fa fa-angle-right ml-2"></i></a>
                                        </li>
                                    </ul>

                                </pagination-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>