<section class="pt-125 py-65 bg-md-f8f8f8 min-h-100vh">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-md-6 mx-auto">
                    <p class="mobile-pagetop-heading mb-3 mb-md-4 text-center">Welcome {{mentorDetails.first_name}} {{mentorDetails.last_name}}</p>
                </div>
                <div class="login-boxouter bg-white mx-auto">

                    <p class="mobile-pagetop-subheading mb-4 d-block text-center">Congratulations!! Your email address: {{mentorDetails.email}} has been successfully verified.</p>

                </div>
            </div>
        </div>
    </div>

</section>