<!--Aboutus header starts-->
<section class="text-center py-65 mt-75 bg-3C6A7A h-center-350">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="max-650 mx-auto">
                    <h1 class="about-us-largetitle mb-3">Frequently Asked Questions</h1>
                    <h1 class="about-us-smalltitle">Here you will find our entire list of FAQs divided into three sections: General, Parents, and Mentors. Choose from the list on the left to browse between sections. </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Aboutus header ends-->

<!--About us body strats-->

<section class="py-65 bg-xs-f8f8f8">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3 mb-4 mb-md-0">
                <div class="faq-sidebar">
                    <ul>
                        <li *ngFor="let category of faqcategories" [ngClass]="{'active': selectedcategory == category._id }" class="active">
                            <a href="javascript:void(0)" (click)="onClickCategory(category)">
                                <span></span> {{category.title}}
                            </a>
                        </li>                       
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="other-page-rightbar box-sidebar">
                    <h3 class="center-heading-title mb-35 text-center">{{selectedCategoryTitle}} FAQ’s</h3>
                    <div class="accordion-box">
                        <div class="accordion">
                            <ngb-accordion [closeOthers]="true" activeIds="static-0">
                                <ngb-panel class="card" id="static-{{index}}" *ngFor="let faq of faqs;let index=index" title="{{faq.type}}">
                                    <ng-template ngbPanelContent>
                                        <div class="card-body desc--text">
                                            {{faq.description}}
                                        </div>

                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </div>
                        <!--div class="accordion" id="accordionExample">
                            <div *ngFor="let faq of faqs; let index=index" class="card">
                                <div class="card-header" id="heading{{index}}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" [ngClass]="{'collapsed': index>0 }" type="button" data-toggle="collapse" data-target="#collapse{{index}}" aria-expanded="{{index==0?true:false}}" aria-controls="collapse{{index}}">
                                {{faq.type}}
                              </button>
                                    </h2>
                                </div>

                                <div id="collapse{{index}}" class="collapse" [ngClass]="{'show': index==0 }" aria-labelledby="heading{{index}}" data-parent="#accordionExample">
                                    <div class="card-body desc--text">
                                        {{faq.description}}
                                    </div>
                                </div>
                            </div>

                        </div-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mt-md-5">
            <div class="col-12 mt-4 mt-md-5">
                <div class="text-center py-65 bg-xs-fff bg-md-f8f8f8 h-center-350">
                    <div class="max-650 mx-auto">
                        <h1 class="about-us-largetitle mb-3 color-heading">Ready to get going on Mentordex?</h1>
                        <a routerLink="/authorization" class="primary--button py-1">Yes! Let's do this! </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>