<!--Aboutus header starts-->
<section class="text-center py-65 mt-75 bg-3C6A7A h-center-350">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="max-650 mx-auto">
                    <h1 class="about-us-largetitle mb-3">Frequently Asked Questions</h1>
                    <h1 class="about-us-smalltitle">Here you will find our entire list of FAQs divided into three sections: General, Parents, and Mentors. Choose from the list on the left to browse between sections. </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Aboutus header ends-->

<!--About us body strats-->

<section class="py-65 bg-xs-f8f8f8">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-3 mb-4 mb-md-0">
            <div class="faq-sidebar">
                <ul>
                    <li  [ngClass]="{'active': category=='GENERAL' }" class="active">
                        <a href="javascript:void(0)" (click)="onClickCategory('GENERAL')">
                            <span></span>
                            general
                        </a>
                    </li>
                    <li [ngClass]="{'active': category=='PARENTS' }" >
                      <a href="javascript:void(0)" (click)="onClickCategory('PARENTS')">
                            <span></span>
                            parents
                        </a>
                    </li>
                    <li [ngClass]="{'active': category=='MENTORS' }" >
                      <a href="javascript:void(0)" (click)="onClickCategory('MENTORS')">
                            <span></span>
                            mentors
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-lg-9">
            <div class="other-page-rightbar box-sidebar">
                <h3 class="center-heading-title mb-35 text-center">{{category}} FAQ’s</h3>
                <div class="accordion-box">
                    <div class="accordion" id="accordionExample">
                        <div *ngFor="let faq of faqs; let index=index" class="card">
                          <div class="card-header" id="heading{{index}}">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left" [ngClass]="{'collapsed': index>0 }"  type="button" data-toggle="collapse" data-target="#collapse{{index}}" aria-expanded="{{index<=0?true:false}}" aria-controls="collapse{{index}}">
                                {{faq.type}}
                              </button>
                            </h2>
                          </div>
                      
                          <div id="collapse{{index}}" class="collapse" [ngClass]="{'show': index<=0 }" aria-labelledby="heading{{index}}" data-parent="#accordionExample">
                            <div class="card-body desc--text">
                              {{faq.description}}
                            </div>
                          </div>
                        </div>
                        <!--<div class="card">
                          <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Why is Mentordex helpful to me as a potential mentor?
                              </button>
                            </h2>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body desc--text">
                                Mentordex.com was created to make your life easier when it comes to finding suitable coaches, tutors, teachers, and mentors for your kids. No where else can you find such an intuitive and helpful site specifically & solely dedicated for the purpose of helping you find in-person mentors for your kids. Here at Mentordex, you can easily filter your search to find mentors who have the parameters you are looking for (including their prices, availability, credentials, and ratings from other parents) and who have gone through an interview and background check process.
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Is there a Mentordex mobile app? 
                              </button>
                            </h2>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body desc--text">
                                Mentordex.com was created to make your life easier when it comes to finding suitable coaches, tutors, teachers, and mentors for your kids. No where else can you find such an intuitive and helpful site specifically & solely dedicated for the purpose of helping you find in-person mentors for your kids. Here at Mentordex, you can easily filter your search to find mentors who have the parameters you are looking for (including their prices, availability, credentials, and ratings from other parents) and who have gone through an interview and background check process.
                            </div>
                          </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                              <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    As a parent, Mentordex sounds great-- but what is the catch? How much does it cost to use? 
                                </button>
                              </h2>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                              <div class="card-body desc--text">
                                Mentordex.com was created to make your life easier when it comes to finding suitable coaches, tutors, teachers, and mentors for your kids. No where else can you find such an intuitive and helpful site specifically & solely dedicated for the purpose of helping you find in-person mentors for your kids. Here at Mentordex, you can easily filter your search to find mentors who have the parameters you are looking for (including their prices, availability, credentials, and ratings from other parents) and who have gone through an interview and background check process.
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" id="headingFive">
                              <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    As a potential Mentordex mentor, this sounds great and all, but what is the catch for me? How much does it cost?
                                </button>
                              </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                              <div class="card-body desc--text">
                                Mentordex.com was created to make your life easier when it comes to finding suitable coaches, tutors, teachers, and mentors for your kids. No where else can you find such an intuitive and helpful site specifically & solely dedicated for the purpose of helping you find in-person mentors for your kids. Here at Mentordex, you can easily filter your search to find mentors who have the parameters you are looking for (including their prices, availability, credentials, and ratings from other parents) and who have gone through an interview and background check process.
                              </div>
                            </div>
                          </div>-->
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 mt-md-5">
        <div class="col-12 mt-4 mt-md-5">
            <div class="text-center py-65 bg-xs-fff bg-md-f8f8f8 h-center-350">
                <div class="max-650 mx-auto">
                    <h1 class="about-us-largetitle mb-3 color-heading">Ready to get going on Mentordex?</h1>
                    <a routerLink="/authorization" class="primary--button py-1">Yes! Let's do this! </a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>