<!--inner section login starts-->
<section class="pt-125 py-65 bg-md-f8f8f8 min-h-100vh">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="login-boxouter bg-white mx-auto">
                    <p class="mobile-pagetop-heading d-md-none mb-3 mb-md-4 text-center">Forgot Password</p>
                    <p class="mobile-pagetop-subheading mb-4 mb-md-5 d-block text-center">Please enter the email address to reset your password. Later use this password to access your dashboard. </p>
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                        <div class="forms">
                            <div class="single-form-row mb-35">                                
                                <input type="text" formControlName="email" class="special--inputs swap-email w-100" placeholder="Enter your registered email address or mobile number">
                                <p class="errorCls"  *ngIf="forgotPasswordForm.controls.email.touched || isFormSubmitted">
                                    <app-form-validation-errors errorPrefix="Email/Phone numer " [errors]="forgotPasswordForm.get('email').errors"></app-form-validation-errors>
                                </p>
                            </div>
                            <div class="single-form-row">
                                <button [disabled]="forgotPasswordForm.invalid" class="primary--button w-100 py-md-3">Submit</button>
                            </div>
                            
                            
                        </div>
                    </form>
                    <div class="d-md-none mt-5">                        
                        <div class="or-separator my-3 sudo-width">
                            <span class="new-mentordex-txt">New to MentorDex</span>
                        </div>
                        <div class="text-center">
                            <a href="#" class="alt--button font-w-500 py-2">SIGN UP</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--inner section login ends-->