<!--inner section login starts-->
<section class="pt-125 py-65 bg-md-f8f8f8 min-h-100vh">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="login-boxouter bg-white mx-auto">
                    <p class="mobile-pagetop-heading d-md-none mb-3 mb-md-4 text-center">Forgot Password</p>
                    <p class="mobile-pagetop-subheading mb-4 mb-md-5 d-block text-center">Please reset your password here. Later use this password to access your dashboard. </p>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()"> 
                        <div class="forms">
                            <div class="single-form-row mb-35">                                
                                <input type="password" formControlName="password" class="special--inputs swap-email w-100" placeholder="Enter new password">
                                <p class="errorCls"  *ngIf="resetPasswordForm.controls.password.touched || isFormSubmitted">
                                    <app-form-validation-errors minLength=10 maxLength=50 errorPrefix="Password " [errors]="resetPasswordForm.get('password').errors"></app-form-validation-errors>
                                </p>
                            </div>
                            <div class="single-form-row mb-35">                               
                                
                                <input type="password" formControlName="repassword"  class="special--inputs swap-email w-100"  placeholder="Confirm Password">
                                <p class="errorCls"  *ngIf="resetPasswordForm.controls.repassword.touched || isFormSubmitted">
                                    <app-form-validation-errors minLength=10 maxLength=50 errorPrefix="Re-Password " [errors]="resetPasswordForm.get('repassword').errors"></app-form-validation-errors>
                                </p>
                            </div>
                            <div class="single-form-row">
                                <button [disabled]="resetPasswordForm.invalid" class="primary--button w-100 py-md-3">Reset</button>
                            </div>
                            
                            
                        </div>
                    </form>
                    <div class="d-md-none mt-5">                        
                        
                        <div class="text-center">
                            <a routerLink="/authorization/" class="alt--button font-w-500 py-2">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--inner section login ends-->