<!--Parent section starts-->
<section class="pt-125 py-65 bg-md-f8f8f8">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <div class="profile-steps-rightsidebar-column">
                    <div class="dashboard-list-wrapper">
                        <form [formGroup]="bookARequestForm">
                            <div class="dashboard-parent-profile-header px-2">
                                <div class="dashboard-parent-profile-header-content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="dashboard-parent-profile-header-content-autor mb-0">
                                                Send Booking Request to {{mentorProfileDetails?.first_name}} {{mentorProfileDetails?.last_name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-parent-profile-body px-4">
                                <div class="row my-3">
                                    <div class="col-md-12">
                                        <p class="mobile-pagetop-heading mb-3">Job Details</p>
                                    </div>

                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-6 mb-4">
                                                <label for="" class="profile-label-text">Job Title</label>
                                                <input type="text" formControlName="job_title" class="special--inputs w-100 little-cs-input" placeholder="Enter the job title">

                                                <p class="errorCls" *ngIf="bookARequestForm.controls.job_title.touched || isbookARequestFormSubmitted">
                                                    <app-form-validation-errors minLength=2 maxLength=100 errorPrefix="Job Title " [errors]="bookARequestForm.get('job_title').errors"></app-form-validation-errors>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <div class="row">
                                            <div class="col-lg-12 mb-4">
                                                <label for="" class="profile-label-text">Job Category</label> {{mentorProfileDetails?.category?.title}}
                                                <ng-container *ngIf="mentorProfileDetails?.category1">
                                                    <label class="mordern-radiobox-label mr-4">
                                                    <input type="radio" class="form-check-input" name="category_id" [attr.data-subCategoryValue]="mentorProfileDetails?.subcategory1?.value" [attr.data-subCategoryId]="mentorProfileDetails?.subcategory1?.subcategory_id"  [attr.data-categoryId]="mentorProfileDetails?.category1?.category_id"  (change)="onCategoryChange($event)" value="{{mentorProfileDetails?.category1?.value}}">
                                                    <span class="design"></span>
                                                    <span class="text">{{mentorProfileDetails?.category1?.value}}</span>
                                                
                                                </label>
                                                </ng-container>
                                                <ng-container *ngIf="mentorProfileDetails?.category2">
                                                    <label class="mordern-radiobox-label mr-4">
                                                    <input type="radio" class="form-check-input" name="category_id" [attr.data-subCategoryValue]="mentorProfileDetails?.subcategory2?.value" [attr.data-subCategoryId]="mentorProfileDetails?.subcategory2?.subcategory_id"  [attr.data-categoryId]="mentorProfileDetails?.category2?.category_id"  (change)="onCategoryChange($event)" value="{{mentorProfileDetails?.category2?.value}}">
                                                    <span class="design"></span>
                                                    <span class="text">{{mentorProfileDetails?.category2?.value}}</span>
                                                
                                                </label>
                                                </ng-container>
                                                <ng-container *ngIf="mentorProfileDetails?.category3">
                                                    <label class="mordern-radiobox-label mr-4">
                                                    <input type="radio" class="form-check-input" name="category_id" [attr.data-subCategoryValue]="mentorProfileDetails?.subcategory3?.value" [attr.data-subCategoryId]="mentorProfileDetails?.subcategory3?.subcategory_id"  [attr.data-categoryId]="mentorProfileDetails?.category3?.category_id"  (change)="onCategoryChange($event)" value="{{mentorProfileDetails?.category3?.value}}">
                                                    <span class="design"></span>
                                                    <span class="text">{{mentorProfileDetails?.category3?.value}}</span>
                                                
                                                </label>
                                                </ng-container>

                                            </div>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="selectedSpeciality != ''">
                                        <div class="col-12">
                                            <p class="mobile-pagetop-heading mb-3"> Speciality</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-lg-4 col-xl-4 mb-4 mb-lg-0">
                                                    {{selectedSpeciality}}
                                                    <!--select formControlName="subcategory_id" class="custom-select arrow-select green-select py-2 h-auto">
                                                    <option disabled selected value="">Select</option>
                                                    <option *ngFor="let subcategory of mentorProfileDetails.subcategories;let i = index" [value]="subcategory.value">{{subcategory.name}}</option>
                                                </select>

                                                <p class="errorCls" *ngIf="bookARequestForm.controls.subcategory_id.touched || isbookARequestFormSubmitted">
                                                    <app-form-validation-errors errorPrefix="Speciality " [errors]="bookARequestForm.get('subcategory_id').errors"></app-form-validation-errors>
                                                </p-->
                                                </div>

                                            </div>
                                        </div>
                                    </ng-container>
                                    <div class="col-12 mt-4">
                                        <div class="border--padding-row">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <p class="mobile-pagetop-heading mb-3">Job Description</p>
                                                    <textarea formControlName="job_description" id="" rows="4" class="profile-steps-input w-100 bg-white resize-none" placeholder="Get started on the right foot by setting clear expectations"></textarea>

                                                    <p class="errorCls" *ngIf="bookARequestForm.controls.job_description.touched || isbookARequestFormSubmitted">
                                                        <app-form-validation-errors minLength=2 maxLength=2000 errorPrefix="Job Description " [errors]="bookARequestForm.get('job_description').errors"></app-form-validation-errors>
                                                    </p>
                                                </div>
                                                <div class="col-12 mt-3">

                                                    <div class="uploadImages position-relative csuploadfile-outer dz-inline-zone">
                                                        <div class="dropzone dropzone-container" [dropzone]="jobFileConfiguration" [disabled]="disabled"></div>

                                                        <span class="profile-label-text d-inline-block ml-2"><small class="font-italic">(optional)</small></span>
                                                    </div>


                                                    <div *ngIf="checkObjectLength(jobFileArray.value) > 0" class="inner_box">

                                                        <div class="box_outer inline-pdf-section">
                                                            <span class="relative_images">
                                                                    <span *ngFor="let jobFile of jobFileArray.value | keyvalue; let offerInHandsIndex = index;" class="img_box">
                                                                        

                                                                        <a data-toggle="tooltip" title="{{jobFile.value.file_name}}" class="upload_pdf" *ngIf="jobFile.value.file_mimetype == 'application/pdf'" href="{{jobFile.value.file_path}}" target="_blank">
                                                                                <img src="assets/img/pdf_icon.png" alt="" class="img-fluid">
                                                                            </a>
                                                                            <div class="pdf-delt-times">

                                                                            <i (click)="removeFile(jobFile.key, 'Jobs',jobFile.value.file_key)" class="fa fa-times" aria-hidden="true"></i>
                                                                        </div>
                                                                    </span>
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="border--padding-row">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p class="mobile-pagetop-heading mb-2">Payment</p>
                                                    <p class="text-top-detail font-normal">How much would you like to pay to the mentor?</p>
                                                    <div class="d-flex align-items-center">
                                                        <div class="hourly-ratebox flex-shrink-0">
                                                            <select class="custom-select profile-steps-input h-auto arrow-select py-13 bg-f3-select rate-dropbox flex-shrink-0">
                                                                <option value="">$</option>
                                                            </select>
                                                            <input formControlName="hourly_rate" readonly="true" class="flex-shrink-0" type="text">
                                                        </div>
                                                        <span class="color-heading flex-shrink-0 ml-2 font--500">/ Hour</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="border--padding-row">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p class="mobile-pagetop-heading mb-3">Service Period</p>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <bs-datepicker-inline [minDate]="minDate" [bsConfig]="{ showWeekNumbers:false, isAnimated: true, containerClass: 'theme-blue' }" (bsValueChange)="onDateChange($event)" [bsValue]="minDate"></bs-datepicker-inline>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-xl-11 mt-3">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-xl-5">
                                                            <p class="text-top-detail color-heading mb-2">Time</p>
                                                            <ng-container *ngIf="getAvailableSlots.length > 0; else noSlotsAvailable">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="row">
                                                                            <div class="col-8">

                                                                                <select formControlName="booking_time" class="custom-select arrow-select green-select mb-3 mb-lg-0 font-14">
                                                                                <option disabled selected value="">Select</option>
                                                                                <option *ngFor="let slot of getAvailableSlots;let i = index" [value]="slot.value">{{slot.value}}</option>
                                                                            </select>

                                                                                <p class="errorCls" *ngIf="bookARequestForm.controls.booking_time.touched || isbookARequestFormSubmitted">
                                                                                    <app-form-validation-errors errorPrefix="Time " [errors]="bookARequestForm.get('booking_time').errors"></app-form-validation-errors>
                                                                                </p>
                                                                            </div>

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </ng-container>
                                                            <ng-template #noSlotsAvailable>
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="row">
                                                                            <div class="col-8">
                                                                                <div class="no-slots-available">
                                                                                    <span>No Slots Available</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ng-template>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="paymentDetailsArray.length > 0; else noCardsAvailable">
                                        <div class="col-12">
                                            <p class="mobile-pagetop-heading mb-2">Your Billing Method <span class="change-billing-method">  (<a  href="javascript:void()" routerLink="/parent/payment-methods">Change</a>)</span></p>
                                            <div *ngFor="let paymentArray of paymentDetailsArray; let i = index" class="each-credit-card-item">
                                                <div class="row mx-0 align-items-center">
                                                    <div class="pr-0 each-credit-card-logo">
                                                        {{paymentArray?.card_type}}
                                                        <!--img src="./img/logos_mastercard.svg" class="img-fluid" alt="masatercard-logo"-->
                                                    </div>
                                                    <div class="px-1 each-credit-number">
                                                        <p class="profile-label-text font--16 mb-0">xxxx xxxx xxxx {{paymentArray?.credit_card_number}}</p>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-5 mb-2 mb-sm-0">
                                                        <p class="each-credit-card-label">Expires on</p>
                                                        <p class="profile-label-text font-14 mb-0">{{paymentArray?.exp_month}}/{{paymentArray?.exp_year}}</p>
                                                    </div>
                                                    <div class="col-7">
                                                        <p class="each-credit-card-label">Name</p>
                                                        <p class="profile-label-text font-14 mb-0">{{paymentArray?.card_holder_name}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-template #noCardsAvailable>
                                        <div class="col-12">
                                            <div class="border--padding-row">
                                                <button (click)="showPaymentMethodPopup()" for="attachment" class="primary--button cursor-pointer d-inline-block py-1 px-4">
                                        <span class="vertical-align-txt-bottom">
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none">
                                                <path d="M6.74939 0.650879V13.6509M0.24939 7.15088H13.2494" stroke="white" stroke-width="1.5"/>
                                            </svg>  
                                        </span>                             
                                        Add Blling
                                    </button>
                                            </div>
                                        </div>
                                    </ng-template>

                                </div>
                            </div>
                            <div class="w-100 border--padding-row py-2 px-4">
                                <div class="small-checkboxes">
                                    <div class="form-check check-opacity mb-3">
                                        <label class="form-check-label text-muted ln-25">
                                        <input formControlName="agree_terms" type="checkbox" class="form-check-input" name="agree">Yes, I understand and agree to the Terms of Service, including User Agreement and Privacy Policy.<i class="input-helper"></i></label>

                                        <p class="errorCls" *ngIf="bookARequestForm.controls.agree_terms.touched || isbookARequestFormSubmitted">
                                            <app-form-validation-errors errorPrefix="Accepting our terms & conditions and privacy policy  " [errors]="bookARequestForm.get('agree_terms').errors"></app-form-validation-errors>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-steps-rightsidebar-column-footer bg-f8-footer">
                                <div class="d-flex justify-content-between justify-content-md-start w-100">
                                    <a class="alt--button font-w-500 py-2 px-30 mr-2 mr-sm-3" href="#">Cancel</a>
                                    <input [disabled]="bookARequestForm.invalid" (click)="validateBookARequestForm()" type="submit" class="primary--button py-2 px-30" value="Request Booking">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<app-add-payment-method (showPaymentMethodPopup)="showPaymentMethodPopup()" (hidePaymentMethodPopup)="hidePaymentMethodPopup($event)" [isOpen]="isPaymentMethodModalOpen"></app-add-payment-method>
<!--Parent section ends-->