<!--Hero banner area starts-->
<section class="hero-banner bg-fdfdfd mt-75">
    <header>

        <ngx-slick-carousel class="banner-slider" #slickModal="slick-carousel" [config]="bannerSlideConfig">
            <!--each banner-->
            <div ngxSlickItem *ngFor="let banner of banners" class="banner position-relative">
                <div class="new-gutter position-relative min-h-inherit">
                    <div class="banner-img ic-svg">
                        <img src="{{banner.image}}" class="animated-hero ml-auto" alt="slider-img">
                    </div>
                    <div class="container position-relative min-h-inherit">
                        <div class="row mx-0">
                            <div class="col-12 col-12-6 px-0 pt-md-130">
                                <!-- Slider Title -->
                                <div class="main-title max-450">
                                    <h1 class="slider-header-title header-contentbox-fade">
                                        {{banner.title}}
                                    </h1>
                                    <h3 class="slider-header-text header-contentbox-fade">
                                        {{banner.description}}
                                    </h3>
                                    <div class="text-center text-lg-left talented-mentors-btn header-contentbox-fade">
                                        <a href="{{banner.button_link}}" target="_blank" class="primary--button mb-3 mr-3">{{banner.button_text}} </a>
                                        <a href="javascript:void(0)" (click)="openYoutubePopup(banner.video_button_link)" class="alt--button">{{banner.video_button_text}}</a>
                                    </div>
                                </div>
                                <!--//End Slider Title -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>

        <div class="new-gutter position-relative">
            <div class="banner-arrow ic-svg">
                <div (click)="prevBanner()" class="prev-banner mr-2">
                    <span class="fa fa-angle-left" aria-hidden="true"></span>
                </div>
                <div (click)="nextBanner()" class="next-banner">
                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </header>
</section>
<!--Hero banner area ends-->

<!--parents-mentors-tab how it works starts-->
<section class="py-65 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="center-heading-title mb-4 text-center">How It Works</h3>
                <div class="max-765 mx-auto mb-35 position-relative">
                    <p class="desc--text text-center">It is fun to inspire kids to dream big dreams, explore new interests, & foster potential. MentorDex is all about helping parents & mentors do just that!
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="parents-mentors-tab">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="pills-parents-tab" data-toggle="pill" href="#pills-parents" role="tab" aria-controls="pills-parents" aria-selected="true">parents</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-mentors-tab" data-toggle="pill" href="#pills-mentors" role="tab" aria-controls="pills-mentors" aria-selected="false">mentors</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-parents" role="tabpanel" aria-labelledby="pills-parents-tab">
                            <div class="row">
                                <div class="col-md-4 mb-4 mb-md-0">
                                    <div class="eachbox-tab">
                                        <div class="eachbox-tab-top">
                                            <div class="eachbox-top-circles"></div>
                                            <div class="svg-iconbox">
                                                <img src="assets/img/right-mentor.svg" alt="mentor">
                                            </div>
                                        </div>
                                        <div class="eachbox-tab-content text-center">
                                            <h4 class="display4-title">Find your mentor</h4>
                                            <p class="display4-text">Create a free account and gain access to the MentorDex. Scroll through mentor profiles with rates, ratings, and credentials. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4 mb-md-0">
                                    <div class="eachbox-tab">
                                        <div class="eachbox-tab-top">
                                            <div class="eachbox-top-circles"></div>
                                            <div class="svg-iconbox">
                                                <img src="assets/img/lesson.svg" alt="lesson">
                                            </div>
                                        </div>
                                        <div class="eachbox-tab-content text-center">
                                            <h4 class="display4-title">Book your session</h4>
                                            <p class="display4-text">Each mentor has a calendar of availability. You can easily book a session online, and/or message the mentor directly to plan details. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4 mb-md-0">
                                    <div class="eachbox-tab">
                                        <div class="eachbox-tab-top">
                                            <div class="eachbox-top-circles"></div>
                                            <div class="svg-iconbox">
                                                <img src="assets/img/pay-gone.svg" alt="lesson">
                                            </div>
                                        </div>
                                        <div class="eachbox-tab-content text-center">
                                            <h4 class="display4-title">Attend your lesson</h4>
                                            <p class="display4-text">Accompany your child to the lesson (we always recommend a parent or caregiver stay for the duration). Pay your mentor and leave a review!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-12 text-center">
                                    <a href="#" class="primary--button">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-mentors" role="tabpanel" aria-labelledby="pills-mentors-tab">
                            <div class="row">
                                <div class="col-md-4 mb-4 mb-md-0">
                                    <div class="eachbox-tab">
                                        <div class="eachbox-tab-top">
                                            <div class="eachbox-top-circles"></div>
                                            <div class="svg-iconbox">
                                                <img src="assets/img/apply-mentor.svg" alt="mentordexIcon">
                                            </div>
                                        </div>
                                        <div class="eachbox-tab-content text-center">
                                            <h4 class="display4-title">Apply to Mentor</h4>
                                            <p class="display4-text">Submit an application and set up a video interview with our friendly staff.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4 mb-md-0">
                                    <div class="eachbox-tab">
                                        <div class="eachbox-tab-top">
                                            <div class="eachbox-top-circles"></div>
                                            <div class="svg-iconbox">
                                                <img src="assets/img/setup-profile.svg" alt="mentordexIcon">
                                            </div>
                                        </div>
                                        <div class="eachbox-tab-content text-center">
                                            <h4 class="display4-title">Set up your profile</h4>
                                            <p class="display4-text">Market yourself to potential clients with your credentials, training, education, hourly rate, and more. Sync your calendar & list your availability, and watch your booking requests come in!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4 mb-md-0">
                                    <div class="eachbox-tab">
                                        <div class="eachbox-tab-top">
                                            <div class="eachbox-top-circles"></div>
                                            <div class="svg-iconbox">
                                                <img src="assets/img/booking.svg" alt="mentordexIcon">
                                            </div>
                                        </div>
                                        <div class="eachbox-tab-content text-center">
                                            <h4 class="display4-title">Get to work!</h4>
                                            <p class="display4-text">Confirm booking request and communicate with clients. Teach your lessons and earn your income. All on your terms!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-12 text-center">
                                    <a href="#" class="primary--button">See all categories</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--parents-mentors-tab how it works ends-->

<!--browse by category starts-->
<section class="py-65 bg-fafafa position-relative category-transition">
    <div class="bg-shape-9AA1B7"></div>
    <div class="svg-starbox2">
        <svg width="99" height="109" viewBox="0 0 99 109" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.4">
<g opacity="0.6">
<path d="M27.9119 3.3507H30.9262V0H32.2022V3.3507H35.2165V4.63567H32.2022V8.00264H30.9262V4.63567H27.9119V3.3507Z" fill="#9AA1B7"/>
<path d="M27.9119 15.5497H30.9262V12.199H32.2022V15.5497H35.2165V16.8346H32.2022V20.2016H30.9262V16.8346H27.9119V15.5497Z" fill="#9AA1B7"/>
<path d="M27.9119 28.5621H30.9262V25.2114H32.2022V28.5621H35.2165V29.8471H32.2022V33.2141H30.9262V29.8471H27.9119V28.5621Z" fill="#9AA1B7"/>
<path d="M27.9119 44.0144H30.9262V40.6637H32.2022V44.0144H35.2165V45.2994H32.2022V48.6663H30.9262V45.2994H27.9119V44.0144Z" fill="#9AA1B7"/>
<path d="M27.9119 59.4667H30.9262V56.116H32.2022V59.4667H35.2165V60.7516H32.2022V64.1186H30.9262V60.7516H27.9119V59.4667Z" fill="#9AA1B7"/>
<path d="M41.4667 3.3507H44.481V0H45.757V3.3507H48.7713V4.63567H45.757V8.00264H44.481V4.63567H41.4667V3.3507Z" fill="#9AA1B7"/>
<path d="M41.4667 15.5497H44.481V12.199H45.757V15.5497H48.7713V16.8346H45.757V20.2016H44.481V16.8346H41.4667V15.5497Z" fill="#9AA1B7"/>
<path d="M41.4667 28.5621H44.481V25.2114H45.757V28.5621H48.7713V29.8471H45.757V33.2141H44.481V29.8471H41.4667V28.5621Z" fill="#9AA1B7"/>
<path d="M41.4667 44.0144H44.481V40.6637H45.757V44.0144H48.7713V45.2994H45.757V48.6663H44.481V45.2994H41.4667V44.0144Z" fill="#9AA1B7"/>
<path d="M41.4667 59.4667H44.481V56.116H45.757V59.4667H48.7713V60.7516H45.757V64.1186H44.481V60.7516H41.4667V59.4667Z" fill="#9AA1B7"/>
<path d="M55.0242 3.3507H58.0385V0H59.3145V3.3507H62.3288V4.63567H59.3145V8.00264H58.0385V4.63567H55.0242V3.3507Z" fill="#9AA1B7"/>
<path d="M55.0242 15.5497H58.0385V12.199H59.3145V15.5497H62.3288V16.8346H59.3145V20.2016H58.0385V16.8346H55.0242V15.5497Z" fill="#9AA1B7"/>
<path d="M55.0242 28.5621H58.0385V25.2114H59.3145V28.5621H62.3288V29.8471H59.3145V33.2141H58.0385V29.8471H55.0242V28.5621Z" fill="#9AA1B7"/>
<path d="M69.2135 15.6909H72.2279V12.3402H73.5038V15.6909H76.5182V16.9759H73.5038V20.3428H72.2279V16.9759H69.2135V15.6909Z" fill="#9AA1B7"/>
<path d="M69.3785 28.5621H72.3929V25.2114H73.6688V28.5621H76.6832V29.8471H73.6688V33.2141H72.3929V29.8471H69.3785V28.5621Z" fill="#9AA1B7"/>
<path d="M13.5574 15.5497H16.5717V12.199H17.8477V15.5497H20.862V16.8346H17.8477V20.2016H16.5717V16.8346H13.5574V15.5497Z" fill="#9AA1B7"/>
<path d="M-0.000488281 28.5621H3.01388V25.2114H4.2898V28.5621H7.30417V29.8471H4.2898V33.2141H3.01388V29.8471H-0.000488281V28.5621Z" fill="#9AA1B7"/>
<path d="M13.5574 28.5621H16.5717V25.2114H17.8477V28.5621H20.862V29.8471H17.8477V33.2141H16.5717V29.8471H13.5574V28.5621Z" fill="#9AA1B7"/>
<path d="M-0.000488281 41.5747H3.01388V38.224H4.2898V41.5747H7.30417V42.8597H4.2898V46.2266H3.01388V42.8597H-0.000488281V41.5747Z" fill="#9AA1B7"/>
<path d="M13.5574 44.0144H16.5717V40.6637H17.8477V44.0144H20.862V45.2994H17.8477V48.6663H16.5717V45.2994H13.5574V44.0144Z" fill="#9AA1B7"/>
<path d="M-0.000488281 57.027H3.01388V53.6763H4.2898V57.027H7.30417V58.3119H4.2898V61.6789H3.01388V58.3119H-0.000488281V57.027Z" fill="#9AA1B7"/>
<path d="M13.5574 59.4667H16.5717V56.116H17.8477V59.4667H20.862V60.7516H17.8477V64.1186H16.5717V60.7516H13.5574V59.4667Z" fill="#9AA1B7"/>
</g>
<g opacity="0.6">
<path d="M103.581 47.7405H100.567V44.3898H99.2907V47.7405H96.2763V49.0254H99.2907V52.3924H100.567V49.0254H103.581V47.7405Z" fill="#9AA1B7"/>
<path d="M103.581 59.9393H100.567V56.5886H99.2907V59.9393H96.2763V61.2243H99.2907V64.5913H100.567V61.2243H103.581V59.9393Z" fill="#9AA1B7"/>
<path d="M103.581 72.952H100.567V69.6013H99.2907V72.952H96.2763V74.237H99.2907V77.604H100.567V74.237H103.581V72.952Z" fill="#9AA1B7"/>
<path d="M103.581 88.4042H100.567V85.0535H99.2907V88.4042H96.2763V89.6891H99.2907V93.0561H100.567V89.6891H103.581V88.4042Z" fill="#9AA1B7"/>
<path d="M103.581 103.856H100.567V100.506H99.2907V103.856H96.2763V105.141H99.2907V108.508H100.567V105.141H103.581V103.856Z" fill="#9AA1B7"/>
<path d="M90.0262 47.7405H87.0118V44.3898H85.7359V47.7405H82.7215V49.0254H85.7359V52.3924H87.0118V49.0254H90.0262V47.7405Z" fill="#9AA1B7"/>
<path d="M90.0262 59.9393H87.0118V56.5886H85.7359V59.9393H82.7215V61.2243H85.7359V64.5913H87.0118V61.2243H90.0262V59.9393Z" fill="#9AA1B7"/>
<path d="M90.0262 72.952H87.0118V69.6013H85.7359V72.952H82.7215V74.237H85.7359V77.604H87.0118V74.237H90.0262V72.952Z" fill="#9AA1B7"/>
<path d="M90.0262 88.4042H87.0118V85.0535H85.7359V88.4042H82.7215V89.6891H85.7359V93.0561H87.0118V89.6891H90.0262V88.4042Z" fill="#9AA1B7"/>
<path d="M90.0262 103.856H87.0118V100.506H85.7359V103.856H82.7215V105.141H85.7359V108.508H87.0118V105.141H90.0262V103.856Z" fill="#9AA1B7"/>
<path d="M76.4684 47.7405H73.454V44.3898H72.1781V47.7405H69.1637V49.0254H72.1781V52.3924H73.454V49.0254H76.4684V47.7405Z" fill="#9AA1B7"/>
<path d="M76.4684 59.9393H73.454V56.5886H72.1781V59.9393H69.1637V61.2243H72.1781V64.5913H73.454V61.2243H76.4684V59.9393Z" fill="#9AA1B7"/>
<path d="M76.4684 72.952H73.454V69.6013H72.1781V72.952H69.1637V74.237H72.1781V77.604H73.454V74.237H76.4684V72.952Z" fill="#9AA1B7"/>
<path d="M62.114 59.9393H59.0996V56.5886H57.8237V59.9393H54.8094V61.2243H57.8237V64.5913H59.0996V61.2243H62.114V59.9393Z" fill="#9AA1B7"/>
<path d="M62.114 72.952H59.0996V69.6013H57.8237V72.952H54.8094V74.237H57.8237V77.604H59.0996V74.237H62.114V72.952Z" fill="#9AA1B7"/>
</g>
</g>
</svg>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="center-heading-title mb-4 text-center">Browse By Category</h3>
                <div class="max-520 mx-auto mb-35 position-relative">
                    <p class="desc--text text-center">Find mentors in your city in each of the following
                        <br> areas, plus many more!
                    </p>
                    <div class="svg-starbox1">
                        <svg width="77" height="65" viewBox="0 0 77 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.4">
                <path d="M48.7701 60.768H45.7558V64.1187H44.4798V60.768H41.4655V59.483H44.4798V56.116H45.7558V59.483H48.7701V60.768Z" fill="#9AA1B7"/>
                <path d="M48.7701 48.5689H45.7558V51.9196H44.4798V48.5689H41.4655V47.2839H44.4798V43.9169H45.7558V47.2839H48.7701V48.5689Z" fill="#9AA1B7"/>
                <path d="M48.7701 35.5563H45.7558V38.907H44.4798V35.5563H41.4655V34.2713H44.4798V30.9043H45.7558V34.2713H48.7701V35.5563Z" fill="#9AA1B7"/>
                <path d="M48.7701 20.104H45.7558V23.4547H44.4798V20.104H41.4655V18.819H44.4798V15.4521H45.7558V18.819H48.7701V20.104Z" fill="#9AA1B7"/>
                <path d="M20.858 20.104H17.8437V23.4547H16.5677V20.104H13.5534V18.819H16.5677V15.4521H17.8437V18.819H20.858V20.104Z" fill="#9AA1B7"/>
                <path d="M48.7701 4.65187H45.7558V8.00256H44.4798V4.65187H41.4655V3.36689H44.4798V-7.43866e-05H45.7558V3.36689H48.7701V4.65187Z" fill="#9AA1B7"/>
                <path d="M20.858 4.65187H17.8437V8.00256H16.5677V4.65187H13.5534V3.36689H16.5677V-7.43866e-05H17.8437V3.36689H20.858V4.65187Z" fill="#9AA1B7"/>
                <path d="M35.2156 60.768H32.2012V64.1187H30.9253V60.768H27.9109V59.483H30.9253V56.116H32.2012V59.483H35.2156V60.768Z" fill="#9AA1B7"/>
                <path d="M35.2156 48.5689H32.2012V51.9196H30.9253V48.5689H27.9109V47.2839H30.9253V43.9169H32.2012V47.2839H35.2156V48.5689Z" fill="#9AA1B7"/>
                <path d="M35.2156 35.5563H32.2012V38.907H30.9253V35.5563H27.9109V34.2713H30.9253V30.9043H32.2012V34.2713H35.2156V35.5563Z" fill="#9AA1B7"/>
                <path d="M35.2156 20.104H32.2012V23.4547H30.9253V20.104H27.9109V18.819H30.9253V15.4521H32.2012V18.819H35.2156V20.104Z" fill="#9AA1B7"/>
                <path d="M7.30359 20.104H4.28922V23.4547H3.0133V20.104H-0.00107145V18.819H3.0133V15.4521H4.28922V18.819H7.30359V20.104Z" fill="#9AA1B7"/>
                <path d="M35.2156 4.65187H32.2012V8.00256H30.9253V4.65187H27.9109V3.36689H30.9253V-7.43866e-05H32.2012V3.36689H35.2156V4.65187Z" fill="#9AA1B7"/>
                <path d="M7.30359 4.65187H4.28922V8.00256H3.0133V4.65187H-0.00107145V3.36689H3.0133V-7.43866e-05H4.28922V3.36689H7.30359V4.65187Z" fill="#9AA1B7"/>
                <path d="M21.6576 60.768H18.6432V64.1187H17.3673V60.768H14.3529V59.483H17.3673V56.116H18.6432V59.483H21.6576V60.768Z" fill="#9AA1B7"/>
                <path d="M21.6576 48.5689H18.6432V51.9196H17.3673V48.5689H14.3529V47.2839H17.3673V43.9169H18.6432V47.2839H21.6576V48.5689Z" fill="#9AA1B7"/>
                <path d="M21.6576 35.5563H18.6432V38.907H17.3673V35.5563H14.3529V34.2713H17.3673V30.9043H18.6432V34.2713H21.6576V35.5563Z" fill="#9AA1B7"/>
                <path d="M7.30359 48.5689H4.28922V51.9196H3.0133V48.5689H-0.00107145V47.2839H3.0133V43.9169H4.28922V47.2839H7.30359V48.5689Z" fill="#9AA1B7"/>
                <path d="M7.30359 35.5563H4.28922V38.907H3.0133V35.5563H-0.00107145V34.2713H3.0133V30.9043H4.28922V34.2713H7.30359V35.5563Z" fill="#9AA1B7"/>
                <path d="M63.1246 48.5689H60.1103V51.9196H58.8343V48.5689H55.82V47.2839H58.8343V43.9169H60.1103V47.2839H63.1246V48.5689Z" fill="#9AA1B7"/>
                <path d="M76.6826 35.5563H73.6682V38.907H72.3923V35.5563H69.378V34.2713H72.3923V30.9043H73.6682V34.2713H76.6826V35.5563Z" fill="#9AA1B7"/>
                <path d="M63.1246 35.5563H60.1103V38.907H58.8343V35.5563H55.82V34.2713H58.8343V30.9043H60.1103V34.2713H63.1246V35.5563Z" fill="#9AA1B7"/>
                <path d="M76.6826 22.5438H73.6682V25.8945H72.3923V22.5438H69.378V21.2589H72.3923V17.8919H73.6682V21.2589H76.6826V22.5438Z" fill="#9AA1B7"/>
                <path d="M63.1246 20.104H60.1103V23.4547H58.8343V20.104H55.82V18.819H58.8343V15.4521H60.1103V18.819H63.1246V20.104Z" fill="#9AA1B7"/>
                <path d="M76.6826 7.09169H73.6682V10.4424H72.3923V7.09169H69.378V5.80671H72.3923V2.43974H73.6682V5.80671H76.6826V7.09169Z" fill="#9AA1B7"/>
                <path d="M63.1246 4.65187H60.1103V8.00256H58.8343V4.65187H55.82V3.36689H58.8343V-7.43866e-05H60.1103V3.36689H63.1246V4.65187Z" fill="#9AA1B7"/>
                </g>
                </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let category of categories" class="col-sm-6 col-md-4 col-lg-3 mb-35">
                <div class="city-cardBox">
                    <a href="#" class="box-rendered">
                        <span class="sr-only">layer anchor</span>
                    </a>
                    <div class="city-cardBox-thumbnail bg-3bb3bd d-flex justify-content-center align-items-center">
                        <div class="circle-shape">
                            <img src="{{category?.image}}" alt="{{category?.title}}">
                        </div>
                    </div>
                    <div class="city-cardBox-desc">
                        <p class="testimonials-author-name">{{category?.title}}</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-12 mb-3 text-center">
                <p class="question--text">Don’t see what you are looking for?</p>
            </div>
            <div class="col-12 text-center">
                <a href="#" class="primary--button">See all categories</a>
            </div>
        </div>
        <div class="svg-starbox3">
            <svg width="132" height="109" viewBox="0 0 132 109" fill="none">
        <g opacity="0.4">
        <g opacity="0.6">
        <path d="M28.3162 3.72887H31.3305V0.378174H32.6065V3.72887H35.6208V5.01385H32.6065V8.38081H31.3305V5.01385H28.3162V3.72887Z" fill="#9AA1B7"/>
        <path d="M28.3162 15.928H31.3305V12.5773H32.6065V15.928H35.6208V17.2129H32.6065V20.5799H31.3305V17.2129H28.3162V15.928Z" fill="#9AA1B7"/>
        <path d="M28.3162 28.9405H31.3305V25.5898H32.6065V28.9405H35.6208V30.2255H32.6065V33.5924H31.3305V30.2255H28.3162V28.9405Z" fill="#9AA1B7"/>
        <path d="M28.3162 44.3927H31.3305V41.042H32.6065V44.3927H35.6208V45.6777H32.6065V49.0446H31.3305V45.6777H28.3162V44.3927Z" fill="#9AA1B7"/>
        <path d="M28.3162 59.845H31.3305V56.4943H32.6065V59.845H35.6208V61.1299H32.6065V64.4969H31.3305V61.1299H28.3162V59.845Z" fill="#9AA1B7"/>
        <path d="M41.8708 3.72887H44.8852V0.378174H46.1611V3.72887H49.1755V5.01385H46.1611V8.38081H44.8852V5.01385H41.8708V3.72887Z" fill="#9AA1B7"/>
        <path d="M41.8708 15.928H44.8852V12.5773H46.1611V15.928H49.1755V17.2129H46.1611V20.5799H44.8852V17.2129H41.8708V15.928Z" fill="#9AA1B7"/>
        <path d="M41.8708 28.9405H44.8852V25.5898H46.1611V28.9405H49.1755V30.2255H46.1611V33.5924H44.8852V30.2255H41.8708V28.9405Z" fill="#9AA1B7"/>
        <path d="M41.8708 44.3927H44.8852V41.042H46.1611V44.3927H49.1755V45.6777H46.1611V49.0446H44.8852V45.6777H41.8708V44.3927Z" fill="#9AA1B7"/>
        <path d="M41.8708 59.845H44.8852V56.4943H46.1611V59.845H49.1755V61.1299H46.1611V64.4969H44.8852V61.1299H41.8708V59.845Z" fill="#9AA1B7"/>
        <path d="M55.4287 3.72887H58.4431V0.378174H59.719V3.72887H62.7334V5.01385H59.719V8.38081H58.4431V5.01385H55.4287V3.72887Z" fill="#9AA1B7"/>
        <path d="M55.4287 15.928H58.4431V12.5773H59.719V15.928H62.7334V17.2129H59.719V20.5799H58.4431V17.2129H55.4287V15.928Z" fill="#9AA1B7"/>
        <path d="M55.4287 28.9405H58.4431V25.5898H59.719V28.9405H62.7334V30.2255H59.719V33.5924H58.4431V30.2255H55.4287V28.9405Z" fill="#9AA1B7"/>
        <path d="M69.7831 15.928H72.7974V12.5773H74.0734V15.928H77.0877V17.2129H74.0734V20.5799H72.7974V17.2129H69.7831V15.928Z" fill="#9AA1B7"/>
        <path d="M69.7831 28.9405H72.7974V25.5898H74.0734V28.9405H77.0877V30.2255H74.0734V33.5924H72.7974V30.2255H69.7831V28.9405Z" fill="#9AA1B7"/>
        <path d="M13.9618 15.928H16.9762V12.5773H18.2521V15.928H21.2665V17.2129H18.2521V20.5799H16.9762V17.2129H13.9618V15.928Z" fill="#9AA1B7"/>
        <path d="M0.403564 28.9405H3.41793V25.5898H4.69386V28.9405H7.70822V30.2255H4.69386V33.5924H3.41793V30.2255H0.403564V28.9405Z" fill="#9AA1B7"/>
        <path d="M13.9618 28.9405H16.9762V25.5898H18.2521V28.9405H21.2665V30.2255H18.2521V33.5924H16.9762V30.2255H13.9618V28.9405Z" fill="#9AA1B7"/>
        <path d="M0.403564 41.9529H3.41793V38.6022H4.69386V41.9529H7.70822V43.2378H4.69386V46.6048H3.41793V43.2378H0.403564V41.9529Z" fill="#9AA1B7"/>
        <path d="M13.9618 44.3927H16.9762V41.042H18.2521V44.3927H21.2665V45.6777H18.2521V49.0446H16.9762V45.6777H13.9618V44.3927Z" fill="#9AA1B7"/>
        <path d="M0.403564 57.4052H3.41793V54.0545H4.69386V57.4052H7.70822V58.6902H4.69386V62.0571H3.41793V58.6902H0.403564V57.4052Z" fill="#9AA1B7"/>
        <path d="M13.9618 59.845H16.9762V56.4943H18.2521V59.845H21.2665V61.1299H18.2521V64.4969H16.9762V61.1299H13.9618V59.845Z" fill="#9AA1B7"/>
        </g>
        <g opacity="0.6">
        <path d="M103.986 48.1189H100.972V44.7682H99.6957V48.1189H96.6813V49.4039H99.6957V52.7709H100.972V49.4039H103.986V48.1189Z" fill="#9AA1B7"/>
        <path d="M103.986 60.3179H100.972V56.9672H99.6957V60.3179H96.6813V61.6029H99.6957V64.9699H100.972V61.6029H103.986V60.3179Z" fill="#9AA1B7"/>
        <path d="M103.986 73.3304H100.972V69.9797H99.6957V73.3304H96.6813V74.6154H99.6957V77.9824H100.972V74.6154H103.986V73.3304Z" fill="#9AA1B7"/>
        <path d="M103.986 88.7828H100.972V85.4321H99.6957V88.7828H96.6813V90.0677H99.6957V93.4347H100.972V90.0677H103.986V88.7828Z" fill="#9AA1B7"/>
        <path d="M103.986 104.235H100.972V100.884H99.6957V104.235H96.6813V105.52H99.6957V108.887H100.972V105.52H103.986V104.235Z" fill="#9AA1B7"/>
        <path d="M90.4314 48.1189H87.417V44.7682H86.1411V48.1189H83.1267V49.4039H86.1411V52.7709H87.417V49.4039H90.4314V48.1189Z" fill="#9AA1B7"/>
        <path d="M90.4314 60.3179H87.417V56.9672H86.1411V60.3179H83.1267V61.6029H86.1411V64.9699H87.417V61.6029H90.4314V60.3179Z" fill="#9AA1B7"/>
        <path d="M90.4314 73.3304H87.417V69.9797H86.1411V73.3304H83.1267V74.6154H86.1411V77.9824H87.417V74.6154H90.4314V73.3304Z" fill="#9AA1B7"/>
        <path d="M90.4314 88.7828H87.417V85.4321H86.1411V88.7828H83.1267V90.0677H86.1411V93.4347H87.417V90.0677H90.4314V88.7828Z" fill="#9AA1B7"/>
        <path d="M90.4314 104.235H87.417V100.884H86.1411V104.235H83.1267V105.52H86.1411V108.887H87.417V105.52H90.4314V104.235Z" fill="#9AA1B7"/>
        <path d="M76.8734 48.1189H73.859V44.7682H72.5831V48.1189H69.5688V49.4039H72.5831V52.7709H73.859V49.4039H76.8734V48.1189Z" fill="#9AA1B7"/>
        <path d="M76.8734 60.3179H73.859V56.9672H72.5831V60.3179H69.5688V61.6029H72.5831V64.9699H73.859V61.6029H76.8734V60.3179Z" fill="#9AA1B7"/>
        <path d="M76.8734 73.3304H73.859V69.9797H72.5831V73.3304H69.5688V74.6154H72.5831V77.9824H73.859V74.6154H76.8734V73.3304Z" fill="#9AA1B7"/>
        <path d="M62.519 60.3179H59.5047V56.9672H58.2288V60.3179H55.2144V61.6029H58.2288V64.9699H59.5047V61.6029H62.519V60.3179Z" fill="#9AA1B7"/>
        <path d="M62.519 73.3304H59.5047V69.9797H58.2288V73.3304H55.2144V74.6154H58.2288V77.9824H59.5047V74.6154H62.519V73.3304Z" fill="#9AA1B7"/>
        <path d="M118.34 60.3179H115.326V56.9672H114.05V60.3179H111.036V61.6029H114.05V64.9699H115.326V61.6029H118.34V60.3179Z" fill="#9AA1B7"/>
        <path d="M131.898 73.3304H128.884V69.9797H127.608V73.3304H124.594V74.6154H127.608V77.9824H128.884V74.6154H131.898V73.3304Z" fill="#9AA1B7"/>
        <path d="M118.34 73.3304H115.326V69.9797H114.05V73.3304H111.036V74.6154H114.05V77.9824H115.326V74.6154H118.34V73.3304Z" fill="#9AA1B7"/>
        <path d="M131.898 86.3429H128.884V82.9922H127.608V86.3429H124.594V87.6279H127.608V90.9948H128.884V87.6279H131.898V86.3429Z" fill="#9AA1B7"/>
        <path d="M118.34 88.7828H115.326V85.4321H114.05V88.7828H111.036V90.0677H114.05V93.4347H115.326V90.0677H118.34V88.7828Z" fill="#9AA1B7"/>
        <path d="M131.898 101.795H128.884V98.4445H127.608V101.795H124.594V103.08H127.608V106.447H128.884V103.08H131.898V101.795Z" fill="#9AA1B7"/>
        <path d="M118.34 104.235H115.326V100.884H114.05V104.235H111.036V105.52H114.05V108.887H115.326V105.52H118.34V104.235Z" fill="#9AA1B7"/>
        </g>
        </g>
    </svg>
        </div>
    </div>
</section>
<!--browse by category ends-->

<!--Talented mentors in city starts-->
<section class="py-65 pt-md-120 position-relative citycards">
    <div class="container">
        <img src="assets/img/ribbon-multiple.svg" class="svgIcon-multiple" alt="svgIcon">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 order-md-2 mb-4">
                <div class="pl-lg-30 pb-lg-5">
                    <h3 class="center-heading-title mb-4 text-center text-md-left">Talented Mentors Available in Your City</h3>
                    <div class=" mb-35">
                        <p class="desc--text text-center text-md-left">Find your city and enjoy a curated feed of potential mentors based on your needs and specifications. Browse through your feed and view mentor profiles to find the right fit to help your child learn and grow in new and exciting
                            ways!
                        </p>
                    </div>
                    <div class="text-center text-md-left talented-mentors-btn">
                        <a href="#" class="primary--button mb-3 mr-sm-3">Hire a Mentor- It's FREE to book! </a>
                        <a href="#" class="alt--button">Apply to Mentor! </a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-6 order-md-1">
                <div class="row">
                    <div *ngFor="let firstFourCity of firstFourCities;let index=index" class="col-sm-6 mb-35">
                        <div class="city-cardBox" data-tilt>
                            <a class="box-rendered">
                                <span class="sr-only">layer anchor</span>
                            </a>
                            <div class="city-cardBox-thumbnail">
                                <img [src]="firstFourCity.image" alt="cityImg">
                            </div>
                            <div class="city-cardBox-desc">
                                <p class="testimonials-author-name">{{firstFourCity.title}}, {{ firstFourCity.state['0'].title }}</p>
                                <span class="testimonials-author-city">{{ firstFourCity.zipcodes['0'].value }}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let lastThreeCity of lastThreeCities;let index=index" class="col-sm-6 col-md-4 col-lg-3 mb-35">
                <div class="city-cardBox" data-tilt>
                    <a class="box-rendered">
                        <span class="sr-only">layer anchor</span>
                    </a>
                    <div class="city-cardBox-thumbnail">
                        <img [src]="lastThreeCity.image" alt="cityImg">
                    </div>
                    <div class="city-cardBox-desc">
                        <p class="testimonials-author-name">{{lastThreeCity.title}}, {{ lastThreeCity.state['0'].title }}</p>
                        <span class="testimonials-author-city">{{ lastThreeCity.zipcodes['0'].value }}</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mb-35">
                <div class="city-cardBox" data-tilt>
                    <a href="#" class="box-rendered">
                        <span class="sr-only">layer anchor</span>
                    </a>
                    <div class="city-cardBox-thumbnail">
                        <img src="assets/img/image 17.png" alt="cityImg">
                    </div>
                    <div class="city-cardBox-desc">
                        <p class="testimonials-author-name">Your City Could be Next!</p>
                        <span class="testimonials-author-city">Let us know below if you'd like Mentordex to come to your area soon!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-4 pt-md-5">
            <div class="col-12">
                <h3 class="mentor-city-title text-center mb-35">Please let us know where you'd like us to go next! </h3>
            </div>
            <div class="col-12">
                <div class="max-w-680 mx-auto">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 mb-3">
                            <input type="text" value="Enter City" onfocus="if(this.value=='Enter City')this.value='';" onmouseover="if(this.value=='Enter City')this.value='';" onmouseout="if(this.value=='')this.value='Enter City';" onblur="if(this.value=='')this.value='Enter City';"
                                class="form-input w-100" />
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 mb-3">
                            <input type="text" value="Enter Email Address" onfocus="if(this.value=='Enter Email Address')this.value='';" onmouseover="if(this.value=='Enter Email Address')this.value='';" onmouseout="if(this.value=='')this.value='Enter Email Address';" onblur="if(this.value=='')this.value='Enter Email Address';"
                                class="form-input w-100" />
                        </div>
                        <div class="col-12 col-md-4 mb-3 text-center">
                            <input type="submit" value="Send Mentordex my way!" class="primary--button" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Talented mentors in city ends-->

<!--Testimonial slider starts-->
<section class="py-65 bg-fafafa position-relative">
    <div class="new-gutter">
        <img src="assets/img/ribbon-single.svg" class="svgIcon-single" alt="svgIcon">
        <div class="col-12">
            <h3 class="center-heading-title mb-4 text-center">Reviews & Testimonials</h3>
            <div class="max-520 mx-auto mb-35">
                <p class="desc--text text-center">Hear from our mentors and parents on their
                    <br> experiences using Mentordex
                </p>
            </div>
        </div>
        <div class="col-12 px-0">
            <div class="sliderOuter position-relative">
                <div class="text-center text-right mb-4 mb-md-0 pos-icon-slider">
                    <div (click)="nextTestimonials()" class="prev mr-3">
                        <span class="fa fa-angle-left" aria-hidden="true"></span>
                    </div>
                    <div (click)="prevTestimonials()" class="next">
                        <span class="fa fa-angle-right" aria-hidden="true"></span>
                    </div>
                </div>

                <ngx-slick-carousel class="slider-carousel" #testimonialsModal="slick-carousel" [config]="testimonialsSlideConfig">
                    <div ngxSlickItem class="testimonials-inner slick-slideshow__slide">
                        <div class="testimonials-inner-box">
                            <div class="testimonials-inner-box-star">
                                <img src="assets/img/star.png" alt="star">
                            </div>
                            <div class="testimonials-inner-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium nibh efficitur arcu cursus, ac luctus diam semper. Integer ullamcorper lacinia felis sed ultrices. Ut elementum mauris ex, quis congue arcu eleifend quis.
                            </div>
                            <div class="testimonials-inner-box-desc">
                                <div class="testimonials-pic">
                                    <img src="assets/img/client-pic.png" alt="client-pic">
                                </div>
                                <div class="testimonials-author">
                                    <p class="testimonials-author-name">Name of the user</p>
                                    <span class="testimonials-author-city">City name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="testimonials-inner slick-slideshow__slide">
                        <div class="testimonials-inner-box">
                            <div class="testimonials-inner-box-star">
                                <img src="assets/img/star.png" alt="star">
                            </div>
                            <div class="testimonials-inner-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium nibh efficitur arcu cursus, ac luctus diam semper. Integer ullamcorper lacinia felis sed ultrices. Ut elementum mauris ex, quis congue arcu eleifend quis.
                            </div>
                            <div class="testimonials-inner-box-desc">
                                <div class="testimonials-pic">
                                    <img src="assets/img/client-pic.png" alt="client-pic">
                                </div>
                                <div class="testimonials-author">
                                    <p class="testimonials-author-name">Name of the user Two</p>
                                    <span class="testimonials-author-city">City name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="testimonials-inner slick-slideshow__slide">
                        <div class="testimonials-inner-box">
                            <div class="testimonials-inner-box-star">
                                <img src="assets/img/star.png" alt="star">
                            </div>
                            <div class="testimonials-inner-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium nibh efficitur arcu cursus, ac luctus diam semper. Integer ullamcorper lacinia felis sed ultrices. Ut elementum mauris ex, quis congue arcu eleifend quis.
                            </div>
                            <div class="testimonials-inner-box-desc">
                                <div class="testimonials-pic">
                                    <img src="assets/img/client-pic.png" alt="client-pic">
                                </div>
                                <div class="testimonials-author">
                                    <p class="testimonials-author-name">Name of the user Three</p>
                                    <span class="testimonials-author-city">City name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="testimonials-inner slick-slideshow__slide">
                        <div class="testimonials-inner-box">
                            <div class="testimonials-inner-box-star">
                                <img src="assets/img/star.png" alt="star">
                            </div>
                            <div class="testimonials-inner-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium nibh efficitur arcu cursus, ac luctus diam semper. Integer ullamcorper lacinia felis sed ultrices. Ut elementum mauris ex, quis congue arcu eleifend quis.
                            </div>
                            <div class="testimonials-inner-box-desc">
                                <div class="testimonials-pic">
                                    <img src="assets/img/client-pic.png" alt="client-pic">
                                </div>
                                <div class="testimonials-author">
                                    <p class="testimonials-author-name">Name of the user four</p>
                                    <span class="testimonials-author-city">City name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="testimonials-inner slick-slideshow__slide">
                        <div class="testimonials-inner-box">
                            <div class="testimonials-inner-box-star">
                                <img src="assets/img/star.png" alt="star">
                            </div>
                            <div class="testimonials-inner-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium nibh efficitur arcu cursus, ac luctus diam semper. Integer ullamcorper lacinia felis sed ultrices. Ut elementum mauris ex, quis congue arcu eleifend quis.
                            </div>
                            <div class="testimonials-inner-box-desc">
                                <div class="testimonials-pic">
                                    <img src="assets/img/client-pic.png" alt="client-pic">
                                </div>
                                <div class="testimonials-author">
                                    <p class="testimonials-author-name">Name of the user</p>
                                    <span class="testimonials-author-city">City name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="testimonials-inner slick-slideshow__slide">
                        <div class="testimonials-inner-box">
                            <div class="testimonials-inner-box-star">
                                <img src="assets/img/star.png" alt="star">
                            </div>
                            <div class="testimonials-inner-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium nibh efficitur arcu cursus, ac luctus diam semper. Integer ullamcorper lacinia felis sed ultrices. Ut elementum mauris ex, quis congue arcu eleifend quis.
                            </div>
                            <div class="testimonials-inner-box-desc">
                                <div class="testimonials-pic">
                                    <img src="assets/img/client-pic.png" alt="client-pic">
                                </div>
                                <div class="testimonials-author">
                                    <p class="testimonials-author-name">Name of the user Two</p>
                                    <span class="testimonials-author-city">City name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="testimonials-inner slick-slideshow__slide">
                        <div class="testimonials-inner-box">
                            <div class="testimonials-inner-box-star">
                                <img src="assets/img/star.png" alt="star">
                            </div>
                            <div class="testimonials-inner-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium nibh efficitur arcu cursus, ac luctus diam semper. Integer ullamcorper lacinia felis sed ultrices. Ut elementum mauris ex, quis congue arcu eleifend quis.
                            </div>
                            <div class="testimonials-inner-box-desc">
                                <div class="testimonials-pic">
                                    <img src="assets/img/client-pic.png" alt="client-pic">
                                </div>
                                <div class="testimonials-author">
                                    <p class="testimonials-author-name">Name of the user Three</p>
                                    <span class="testimonials-author-city">City name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="testimonials-inner slick-slideshow__slide">
                        <div class="testimonials-inner-box">
                            <div class="testimonials-inner-box-star">
                                <img src="assets/img/star.png" alt="star">
                            </div>
                            <div class="testimonials-inner-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium nibh efficitur arcu cursus, ac luctus diam semper. Integer ullamcorper lacinia felis sed ultrices. Ut elementum mauris ex, quis congue arcu eleifend quis.
                            </div>
                            <div class="testimonials-inner-box-desc">
                                <div class="testimonials-pic">
                                    <img src="assets/img/client-pic.png" alt="client-pic">
                                </div>
                                <div class="testimonials-author">
                                    <p class="testimonials-author-name">Name of the user four</p>
                                    <span class="testimonials-author-city">City name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>

            </div>
        </div>
    </div>
</section>
<!--Testimonial slider ends-->

<!--Frequently asked questions starts-->
<section class="py-65 ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="center-heading-title mb-4 text-center">Frequently Asked Questions</h3>
                <div class="max-520 mx-auto mb-35">
                    <p class="desc--text text-center">Have questions about Mentordex?
                        <br> Find your answers here.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="accordion-box">
                    <div class="accordion">
                        <ngb-accordion [closeOthers]="true" activeIds="static-0">
                            <ngb-panel class="card" id="static-{{index}}" *ngFor="let faq of faqs;let index=index" title="{{faq.type}}">
                                <ng-template ngbPanelContent>
                                    <div class="card-body desc--text">
                                        {{faq.description}}
                                    </div>

                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <a routerLink="/quick-links/FAQs" class="primary--button">View All</a>
            </div>
        </div>
    </div>
</section>
<!--Frequently asked questions ends-->

<!--Recent mentordex blog starts-->
<section class="py-65 ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="center-heading-title mb-60 text-center">Recent Mentordex Blog Posts</h3>
            </div>
        </div>
        <div class="responsive-blog-slider">

            <ngx-slick-carousel class="responsive-blog-slider-inner" #blogsModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let blog of blogs" class="blog-cards hover-blogbox">
                    <a target="_blank" href="{{blog.link}}" class="box-rendered">
                        <span class="sr-only">layer anchor</span>
                    </a>
                    <div class="blog-cardImg">
                        <img src="{{blog.image}}" alt="blogcardImg">
                    </div>
                    <p class="blog-cardText">{{blog?.title?.rendered}}</p>
                </div>
            </ngx-slick-carousel>




        </div>



        <div class="row mt-5">
            <div class="col-12 text-center">
                <a href="http://18.218.99.213/mentordex/blog" target="_blank" class="primary--button">Take Me to the Mentordex Blog</a>
            </div>
        </div>
    </div>
</section>
<!--Recent mentordex blog ends-->

<!--Newsletter section starts-->
<section class="py-65 pb-md-170 bg-newsletter position-relative">
    <div class="container position-index">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="center-heading-title mb-4">Subscribe to Newsletter</h3>
                <div class="max-520 mx-auto mb-35">
                    <p class="desc--text">I am interested in receiving genuinely useful emails from Mentordex with advice from child development experts, news of updates to our site, and notifications of new blog posts. </p>
                </div>
            </div>
            <div class="col-12">
                <div class="max-400 mx-auto position-relative">
                    <input type="email" class="email-input w-100 pr-md-125" value="Enter your email address" onfocus="if(this.value=='Enter your email address')this.value='';" onmouseover="if(this.value=='Enter your email address')this.value='';" onmouseout="if(this.value=='')this.value='Enter your email address';"
                        onblur="if(this.value=='')this.value='Enter your email address';">
                    <input type="submit" class="newsletter--btn position-btn" value="Subscribe">
                </div>
            </div>
        </div>
    </div>
    <img src="assets/img/newsletter-svg.svg" class="newsletter-svg">
</section>
<!--Newsletter section ends-->


<!-- Modal Popup of Invoice Details -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button (click)="stopYoutubeVideo()" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <iframe width="736" height="422" [src]="getVideoLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>
            </div>


        </div>
    </div>
</div>