<section class="pt-125 py-65 bg-md-f8f8f8 min-h-100vh">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="login-boxouter bg-white mx-auto">
                    <div class="text-center">
                        <svg width="92" height="93" viewBox="0 0 92 93" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 46.5C0 21.0949 20.5949 0.5 46 0.5C71.4051 0.5 92 21.0949 92 46.5C92 71.9051 71.4051 92.5 46 92.5C20.5949 92.5 0 71.9051 0 46.5ZM43.3737 66.1919L69.8615 33.0822L65.0722 29.2507L42.4932 57.4744L26.4967 44.1439L22.5702 48.8557L43.3737 66.1919Z" fill="#3BB3BD"/>
                        </svg>
                        <p class="mobile-pagetop-subheading mt-4 mb-3 d-block text-center">Your application has been submitted successfully! </p>
                        <p class="text-top-detail mb-4">The interview details will be sent to your email. Please check your spam folder, as well.</p>
                        <p class="mobile-pagetop-subheading mb-35">The interview will be fun and easy! Just be yourself! </p>
                        <p class="text-top-detail mb-4 max-340 mx-auto">You can explore some resources to get prepared for the interview.</p>
                        <p class="links-lists"><a href="javacsript:void(0)">Resource Page</a> <span class="px-1">|</span> <a target="_blank" href="http://18.218.99.213/mentordex/blog">Blog</a> <span class="px-1">|</span> <a href="javacsript:void(0)">Video Tutorials</a></p>
                    </div>
                    <div class="d-md-none mt-5">

                        <div class="text-center">
                            <a href="javacsript:void(0)" class="alt--button font-w-500 py-2">LOG OUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>